/* .bb {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 50%;
    width: 200px;
    height: 200px;
    background: blue;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
    
} */


.fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
